MINECRAFT_RCON_HOST=127.0.0.1
MINECRAFT_RCON_PORT=25575
MINECRAFT_RCON_PASSWORD=replace-with-your-rcon-password
MINECRAFT_DIR=D:\localhouse\minecraft
MINECRAFT_WORLD=LOCALHOUSE SMP
MINECRAFT_JOIN_ADDRESS=localhost:25565
